@model EmployeeManagementSystem.Models.Payroll

@{
    ViewBag.Title = "Create Payroll";
}

<h2 class="text-center my-4">@ViewBag.Title</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- Payroll Create Card -->
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title mb-0">Create Payroll</h5>
            </div>
            <div class="card-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

                <!-- Employee Dropdown -->
                <div class="form-group row">
                    @Html.LabelFor(model => model.EmployeeId, "Employee", htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("EmployeeId", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Month Input -->
                <div class="form-group row">
                    @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Month, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Basic Salary Input -->
                <div class="form-group row">
                    @Html.LabelFor(model => model.BasicSalary, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BasicSalary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BasicSalary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Attendance Bonus Input -->
                <div class="form-group row">
                    @Html.LabelFor(model => model.AttendanceBonus, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AttendanceBonus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AttendanceBonus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Deductions Input -->
                <div class="form-group row">
                    @Html.LabelFor(model => model.Deductions, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Deductions, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Deductions, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Generated Date Input -->
                <div class="form-group row">
                    @Html.LabelFor(model => model.GeneratedDate, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GeneratedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GeneratedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" class="btn btn-success">Create Payroll</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="mt-3">
        @Html.ActionLink("Back to List", "Index", "Payroll", new { @class = "btn btn-secondary" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
